* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
  }

  body {
        min-width: 500px;
        font-family: 'Montserrat', sans-serif;
        color: white;
  }

  #ViewPort {
        width: 100%; 
        height: 100vh;
        background: black;
  }

/* MAIN */
    main{
            height: calc(100% - 90px);
            overflow: hidden;
    }

/* Left Nav */
    main nav.main-nav {
            float: left;
            width: 230px;
            height: 100%;
            min-height: 480px;
    }
  /* Nav Head */
    main nav.main-nav .nav-head {
            display: flex;
            flex-direction: column;
            height: calc(100% - 80px);
            overflow-y: hidden;
    }
  /* Logos */
    main nav.main-nav .nav-head .nav-logo img,
    main nav.main-nav .nav-head .nav-logo-mobile img {
            width: 70%;
    }
    main nav.main-nav .nav-head .nav-logo-mobile {
            display: none;
            text-align: center;
            padding: 5px;
    }
  /* Main Menu list */
    main nav.main-nav .nav-head .nav-main-menu .menu-list li {
            padding-left: 17px;
            /* When user isn't actually on this page */
            border-left: 3px solid transparent;
            /* Total 20px of padding left */
    }
  /* When user actually use this page */
    main nav.main-nav .nav-head .nav-main-menu .menu-list li.active {
            border-left: 3px solid rgb(30,215,96);
    }
     main nav.main-nav .nav-head .nav-main-menu .menu-list li.active a{
            color: white;
    }
  /* Resizing img to icons */
     main nav.main-nav .nav-head .nav-main-menu .menu-list img {
            height: 25px;
            width: 25px;
            margin-right: 5px;
            vertical-align: middle;
    }

  /* Playlist section */
    main nav.main-nav .nav-head .nav-playlist {
            overflow: hidden;
    }
    main nav.main-nav .nav-head .nav-playlist h2 {
            margin-bottom: 10px;
            font-size: 15px;
            text-transform: uppercase;
    }
  /* Add Playlist */
  main nav.main-nav .nav-head .nav-playlist .add-playlist {
        margin-bottom: 10px;
        display: block;
        font-size: 15px;
        line-height: 35px;
  }
  /* Icon Add Playlist */
  main nav.main-nav .nav-head .nav-playlist .add-playlist span:before {
        display: inline-block;
        content: '+';
        width: 35px;
        height: 35px;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 35px;
        text-align: center;
        line-height: 35px;
        vertical-align: middle;
        color: #141922;
        transition: all 1s;
  }
  main nav.main-nav .nav-head .nav-playlist .add-playlist:hover span:before {
    background-color: rgb(30,215,96);
  }
  /* User's Playlist Scrollable */
  main nav.main-nav .nav-head .nav-playlist .menu-list{
        height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
  }
  /* ... */

  /* Nav Foot */
  main nav.main-nav .nav-foot {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80px;
        padding: 0 20px;
  }
  main nav.main-nav .nav-foot .app-download a,
  main nav.main-nav .nav-foot .user {
        display: flex;
        align-items: center;
 }
  /* Link to Download App */
  main nav.main-nav .nav-foot .app-download {
        padding-bottom: 10px;
        border-bottom: 1px solid darkgray;
  }
  main nav.main-nav .nav-foot .app-download:hover a{
        color:  rgb(30,215,96);
  }
  main nav.main-nav .nav-foot .app-download a {
        font-size: 12px;
  }
  /* Icon for Link to Download App */
  main nav.main-nav .nav-foot .app-download img {
        width: 15px;
        margin-right: 10px;
  }
  /* User Info */
  main nav.main-nav .nav-foot .user .user-profile-img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        background: grey;
        border-radius: 50%;
        overflow: hidden;
  }
  /* User's Image */
  main nav.main-nav .nav-foot .user .user-profile-img img{
        width: 100%;
        border-radius: 50%;
  }
  main nav.main-nav .nav-foot .user .user-profile-img img:hover{
        border: 1px solid  rgb(30,215,96);
        cursor: pointer;
  }
  /* User's Name */
  main nav.main-nav .nav-foot .user .user-name {
        font-size: 14px;
        color: white;
  }


/* Principal Content */
  main #principal-content {
        float: left;
        width: calc(100% - 230px);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #141922;
  }
 /* Call-To-Action / Upgrade reminder */
  main #principal-content .call-to-action {
        position: fixed;
        width: calc(100% - 230px);
        height: 90px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: right;
        z-index: 1;
  }
 /* Central Nav Bar */
  main #principal-content .main-content-nav {
        width: 100%;
        margin-top: 90px;
        text-align: center;
  }
  main #principal-content .main-content-nav a {
        position: relative;
        padding-bottom: 5px;
  }
 /* Border for actually page */
    main #principal-content .main-content-nav a.active-now:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        background:  rgb(30,215,96);
    }
  /* ... */
  
 /* Covers Section */
    main #principal-content .covers .covers-row {
        margin: 20px;
    }
    main #principal-content .covers .covers-list {
        display: flex;
        margin: 30px 0;
        flex-wrap: wrap;
    }
    main #principal-content .covers .covers-list .cover-item {
        flex-shrink: 0;
        width: calc(100% / 6 - 15px);
        margin-right: 15px;
        cursor: pointer;
        flex-wrap: wrap;
    }
    main #principal-content .covers .covers-list .cover-item .cover-container {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
    }
    main #principal-content .covers .covers-list .cover-item .cover-container .cover-layover{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 60px;
    }
    main #principal-content .covers .covers-list .cover-item .cover-container .cover-layover i{
        display: none;
        transition: 1s;
    }
    main #principal-content .covers .covers-list .cover-item:hover .cover-container .cover-layover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    main #principal-content .covers .covers-list .cover-item:hover .cover-container .cover-layover i {
        display: inline;
    }
    main #principal-content .covers .covers-list .cover-item .cover-text h3{
       font-size: 16px;
       line-height: 16px;
    }
    main #principal-content .covers .covers-list .cover-item .cover-container img{
        max-width: 100%;
    }
    main #principal-content .covers #popular .cover-item .cover-container img{
        border-radius: 100%;
      }
      main #principal-content .covers #popular .cover-item .cover-container {
        border-radius: 100%;
        overflow: hidden;
      }



/* FOOTER */
    footer {
        height: 90px;
            background: #282828;
    }










/* MEDIA QUERYS responsive */

/* Left Nav */
    @media screen and (max-width: 600px) {
        main nav.main-nav {
        width: 50px;
        }
    }
 /* Logos */
    @media screen and (max-width: 600px) {
        main nav.main-nav .nav-head .nav-logo {
          display: none;
        }
        main nav.main-nav .nav-head .nav-logo-mobile {
          display: block;
        }
      }
 /* Main Menu list */
    @media screen and (max-width: 600px) {
        main nav.main-nav .nav-head .nav-main-menu .menu-list {
            text-align: center;
        }
        main nav.main-nav .nav-head .nav-main-menu .menu-list li {
            border: 0;
            padding-left: 0;
        }
        main nav.main-nav .nav-head .nav-main-menu .menu-list li a span {
            display: none;
        }
        main nav.main-nav .nav-head .nav-main-menu .menu-list img {
            margin: 0;
        }
    }
 /* Playlist section */
    @media screen and (max-width: 600px) {
        main nav.main-nav .nav-head .nav-playlist {
        display: none;
        }
    }

 /* Nav Foot */
    
    @media screen and (max-width: 600px) {

        /* Download App link */
        main nav.main-nav .nav-foot {
            padding: 0;
            align-items: center;
        }
        main nav.main-nav .nav-foot .app-download {
            text-align: center;
            border: 0;
            padding: 0;
        }
        main nav.main-nav .nav-foot .app-download span{
            display: none;
        }
        main nav.main-nav .nav-foot .app-download img {
            margin: 0;
            padding: 0;
            width: 25px;
        }
        /* User info */
        main nav.main-nav .nav-foot .user .user-name {
            display: none;
        }
        
    }
/* ...   */



/* Principal Content */
    @media screen and (max-width: 600px) {
        main #principal-content {
            width: calc(100% - 50px);
        }


    }

 /* Covers Section */
    @media screen and (max-width: 1100px) {
        main #princiapl-content .covers .covers-list {
            flex-wrap: wrap;
        }
        main #principal-content .covers .covers-list .cover-item {
            width: calc(100% / 4 - 10px);
            margin-right: 10px;
        }
        

        
}
























  /* MY FRAMEWORK */

  a { 
        text-decoration: none;
        color: darkgray;
  }
  a:hover,
  a:active,
  a:focus { 
        color: white;
  }
  /* Principal Menu Icons */
  a img {
        opacity: 0.5;
  }
  a:hover img,
  a:active img,
  a:focus img { 
        opacity: 1;
  }
  /* Upgrade Button */
  a.btn {
        display: inline-block;
        padding: 10px 40px;
        border: 1px solid white;
        border-radius: 50px;
        font-size: 15px;
        line-height: 20px;
        color: white;
        text-transform: uppercase;
        transition: 1s;
  }
  a.btn:hover,
  a.btn:active,
  a.btn:focus {
        padding: 15px 50px;
        color: rgb(30,215,96);
        border: 1px solid rgb(30,215,96);
        font-size: 18px;
  }
  /* Reciclable Rules */
  .clearfix::after{
        content: '';
        display: table;
        clear: both;
  }
  .float{
        float: left
  }
  .text-center{
      text-align: center;
  }
  p {
        font-size: 12px;
        color: darkgray;
  }

  .menu-list {
        list-style: none;
        font-size: 13px;
        line-height: 35px;
  }
  
  .menu-inline li{
        display: inline-block;
        margin: 10px;
  }


  .p_20{
      padding: 20px;
  }

  .m_20{
    margin: 20px;
}