body{
    font-family: 'Montserrat', sans-serif;
}

.my_container{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    overflow: hidden;
}

/* MAIN */
main{
    display: flex;
    height: calc(100% - 90px);
}

/* Left nav */
main .nav_sx {
    width: 230px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* ... */


/* Logo */
.nav_sx .head-logo img{
    width: 70%;
    padding-bottom: 20px;
}
/* Menu principal */
.nav_sx .head-menu ul li{
    list-style: none;
}
/* Menu principal's icons */
.nav_sx .head-menu img{
    width: 26px;
    margin: 5px 0;
    opacity: 0.5;
}
.nav_sx .head-menu img:hover{
    opacity: 1;
}
/* ... */


/* Playlist */
.nav_sx .nav-sx-playlist{
    flex-grow: 1;
    min-height: 250px;
    overflow: hidden;
}
/* Add Playlist */
.nav_sx .nav-sx-playlist .add-playlist{
    padding-bottom: 10px;
}
.nav_sx .nav-sx-playlist .add-playlist a{
    color: grey;
}
.nav_sx .nav-sx-playlist .add-playlist a i{
    font-size: 40px;
    margin-right: 10px;
}
.nav_sx .nav-sx-playlist .add-playlist a:hover{
    color: white;
    text-decoration: none;
}
/* Your Playlist */
.nav_sx .nav-sx-playlist ul.your-playlist{
    overflow-y: auto;
    height: 100%;
}
.nav_sx .nav-sx-playlist ul li{
    list-style: none;
    margin: 15px 0;
}

/* ... */


/* Profile + Link App */

/* Link to Download */
.nav_sx .nav-sx-foot{
    height: 80px;
    display: flex;
    flex-direction: column;
}
.nav_sx .nav-sx-foot .nav-app-download{
    padding: 10px 0;
    border-bottom: 1px solid grey;
    font-size: 12px;
}
/* Download icon */
.nav_sx .nav-sx-foot .nav-app-download a img{
    width: 15px;
    margin-right: 10px;
}

/* Account Info */
.nav_sx .nav-sx-foot .account-info{
    margin-top: 10px;
}
.nav_sx .nav-sx-foot .account-info img{
    width: 30px;
    border-radius: 50%;
}
.nav_sx .nav-sx-foot .account-info img:hover{
    border: 1px solid #1ed760;
}
.nav_sx .nav-sx-foot .account-info span{
    text-transform: capitalize;
    color: white;
    margin: 0 10px;
    font-weight: bold;
}

/* ... */
/* ... */

/* Content Principal */
main .content_main{
    width: calc(100% - 230px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
    padding-top: 90px;
}

/* Call To Action Reminder */
.content_main .upgrade-plan{
    width: calc(100% - 230px);
    height: 90px;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
/* Upgrade Button */
.content_main .upgrade-plan .upgrade_btn{
    padding: 12px 50px;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 25px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.8s;
}
.content_main .upgrade-plan .upgrade_btn:hover{
    padding: 15px 60px;
    font-size: 15px;
}

/* Link Content Nav */
.content_main .content_nav ul li{
    display: inline;
    margin: 0 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 55px;
}

/* ... */
/* ... */

/* FOOTER */
footer{
    width: 100%;
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}
footer .song{
    width: 20%;
}
footer .player{
    width: 60%;
}
footer .controls{
    width: 20%;
}

/* ..........END.......... */




/* Debug class */
ul{
    padding: 0;
    margin: 0;
}


.font-l{
    font-size: 30px;
}


/* List Style */
.nav_sx  ul li a,
.nav_sx .nav-sx-foot .nav-app-download a,
.content_main .content_nav ul li a{
    color: #666666;
    text-decoration: none;
}
.nav_sx ul li a:hover,
.nav_sx .nav-sx-foot .nav-app-download a:hover,
.nav_sx .nav-sx-foot .account-info a:hover,
.content_main .content_nav ul li a:hover{
    color: white;
    text-decoration: none;
}
/* ... */

/* BG Colors */
.blu { background-color: blue; }
.red { background-color: red; }
.violet { background-color: violet }
/* ... */

/* Padding */
.p_0 { padding: 0; }
.p_20 { padding: 20px; }
/* ... */


.border-head-menu { border-left: 3px solid #1ed760; }
  